{{- $wsl := false -}}{{/* wsl 1/2 */}}
{{- if eq .chezmoi.os "linux" }}
{{-   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
    {{- $wsl = true }}
{{-   end }}
{{- end }}

encryption = "age"

[age]
    identity = "~/key.txt"
    recipient = "age1q43h75rusqwxczl2ve0ulrg6x73xchxvp5ctyy4qqdg0udle03csanp0er"

[data]
    wsl = {{ $wsl }}