{{- $wsl := false -}}{{/* wsl 1/2 */}}
{{- if eq .chezmoi.os "linux" }}
{{-   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
    {{- $wsl = true }}
{{-   end }}
{{- end }}

{{ $bwclisecret := promptStringOnce . "bwclisecret" "What's the Bitwarden API client secret" -}}

[data]
    wsl = {{ $wsl }}

[scriptEnv]
    BW_CLIENTID = "user.40c5ce89-e0c9-4719-8aa0-06eecf440917"
    BW_CLIENTSECRET = {{ $bwclisecret | quote }}