export ASDF_DIRENV_BIN="/usr/bin/direnv"
export PATH="$PATH:$HOME/.local/bin"
export PATH="$PATH:$HOME/.asdf/bin"

{{- if eq .chezmoi.hostname .hosts.work }}
export NODE_EXTRA_CA_CERTS="/usr/local/share/ca-certificates/post-certs/swisspost-web-proxy-ca-g2.crt"
{{- end }}