[user]
name = Stefan Schärmeli
email = schaermu@pm.me
signingKey = 49FAF0C65506CE60FC383FF7EAC95683A32610DA!

[credential]
helper = store

[filter "lfs"]
process = git-lfs filter-process
required = true
clean = git-lfs clean -- %f
smudge = git-lfs smudge -- %f

[init]
defaultBranch = main

{{ if (or (eq .chezmoi.hostname .hosts.kali) (eq .chezmoi.hostname .hosts.work)) }}
[credential "https://github.com"]
helper = 
helper = !/usr/bin/gh auth git-credential

[credential "https://gist.github.com"]
helper = 
helper = !/usr/bin/gh auth git-credential
{{- end }}