# sudo alias hack
alias sudo='sudo '

# Alias ls/ll to exa.
alias ls='exa -l --group-directories-first --color=auto --icons --no-permissions --no-user'
alias ll='exa -lahF --group-directories-first --color=auto --icons'
alias fatboy='ssh -p 22222 192.168.1.11'
alias batocera='ssh root@192.168.1.236'

{{- if eq .chezmoi.hostname .hosts.kali }}
# fix weird error on kali, remap code to code-oss
alias code='code-oss --disable-keytar'

# add pentest-specific aliases for different tools
alias me='echo $(ifconfig tun0 | grep "inet " | cut -b 9- | cut  -d" " -f2)'

# network
alias nmapfull='sudo nmap -sV -sC -O -p- -n -Pn'
alias nmapfast='sudo nmap -sV -sC -O -T4 -n -Pn'

# enum
alias dirscan="ffuf -c -w $dirmed -u"
alias vhostscan="gobuster vhost -w /usr/share/wordlists/amass/subdomains-top1mil-5000.txt -u"

# misc
alias cme=crackmapexec
alias oso=onesixtyone
alias h2t="html2text -style pretty"
alias e4l="enum4linux -a"
{{- end }}

# Make file commands verbose.
alias cp='cp -v';
alias mv='mv -v';

# Create parent directories on demand.
alias mkdir='mkdir -pv'

# Display drives and space in human readable format.
alias df='df -h'

# Print disk usage per directory non-recursively, in human readable format.
alias du='du -h -d1'

# Improve top with modern alternatives.
if type 'atop' &> /dev/null; then
  alias top='atop'
elif type 'htop' &> /dev/null; then
  alias top='htop'
elif type 'ntop' &> /dev/null; then
  if [[ "$OSTYPE" =~ ^(cygwin|mingw|msys) ]]; then
    alias top='ntop'
  fi
fi
