#!/usr/bin/env bash

# BW_SERVER, BW_CLIENTID and BW_CLIENTSECRET are set in .chezmoi.toml.tmpl
bw config server $BW_SERVER
bw login --apikey
export BW_SESSION=$(bw unlock --raw)

# re-import gpg keys from bitwarden
bw get item 445d782e-019f-452c-8fcf-6e6c5b9084af | jq -r '.notes' > private.key
gpg --batch --import private.key && rm private.key