#!/usr/bin/env bash
tools_apt=(
    git
    htop
    zsh
    zsh-syntax-highlighting
    ripgrep
    jq
    age
    exa
)

tools_non_apt=(
    direnv
)

# move chezmoi if installed in default location
if [[ -f "{{ .chezmoi.homeDir }}/bin/chezmoi" ]]; then
    sudo mv "{{ .chezmoi.homeDir }}/bin/chezmoi" /usr/local/bin/
    sudo rm -rf "{{ .chezmoi.homeDir }}/bin"
fi

mkdir -p {{ .chezmoi.homeDir }}/.local/bin
mkdir -p {{ .chezmoi.homeDir }}/.zfunc
sudo apt-get update && sudo apt-get install -y "${tools_apt[@]}"
sudo apt-get remove -y "${tools_non_apt[@]}"
if [[ $SHELL != *"zsh"* ]]; then
    sudo chsh -s /usr/bin/zsh $(whoami)
fi

# starship prompt
if [[ -f "/usr/local/bin/starship" ]]; then
    echo "Skipping starship download..."
else
    curl -sS https://starship.rs/install.sh | sh -s -- --yes
fi

# antigen
if [[ -f "{{ .chezmoi.homeDir }}/antigen.zsh" ]]; then
    echo "Skipping antigen download..."
else
    curl -L git.io/antigen > antigen.zsh
fi

# direnv
if [[ -f "{{ .chezmoi.homeDir }}/.local/bin/direnv" ]]; then
    echo "Skipping direnv download..."
else
    export bin_path={{ .chezmoi.homeDir }}/.local/bin
    curl -sfL https://direnv.net/install.sh | bash
fi

# asdf
if [[ -d "{{ .chezmoi.homeDir }}/.asdf" ]]; then
    echo "Skipping asdf download..."
else
    git clone https://github.com/asdf-vm/asdf.git ~/.asdf --branch v0.12.0

    # direnv plugin installation
    {{ .chezmoi.homeDir }}/.asdf/bin/asdf plugin-add direnv
    {{ .chezmoi.homeDir }}/.asdf/bin/asdf direnv setup --no-touch-rc-file --shell zsh --version system
fi

# rust (only on non-work devices)
{{- if ne .chezmoi.hostname .hosts.work }}
if [[ -d "{{ .chezmoi.homeDir }}/.cargo" ]]; then
    echo "Skipping rust download..."
else
    curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y --no-modify-path
    rustup completions zsh > {{ .chezmoi.homeDir }}/.zfunc/_rustup
fi
{{- end }}